html{
    background: #0C0C0C;
    max-width: 100vw;
    max-height: 100vh;
    font-family: "Yanone Kaffeesatz", "Lobster";
}

body{
    margin: 0;
}

header{
    position: relative;
}

.top_image{
    width: 99vw;
}

.contact img{
    width: 2em;
}

#contacts{
    position: absolute;
    top: 1em;
    left: 35%;
    width: 32%;
    display: flex;
}

a{
    text-decoration: none;
        padding: 1.5%;
    padding-right: 3.5%;
    padding-left: 3.5%;
}

.contact{
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #A958E5;
    font-family: "Yanone Kaffeesatz", "Lobster";
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
    font-size: 2em;
    color: #F0E1E1;
    font-family: "Yanone Kaffeesatz", "Lobster";
}

#main_menu{
    display: inherit;
    width: 70vw;
    padding-left: 2%;
}

#main_menu a,
#bascket a{
    text-decoration: none;
    color: white;

}

.nav_item{
    padding: 1%;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 20px;
}
.nav_item:hover{
    border: 1px solid #8114DF;
    transition-duration: .5s;
}

#basket{
    font-size: 2rem;
    display: flex;
    width: 8vw;
}
#basket.nav_item{
    padding: 0.3%;
    padding-right: 1em;
    padding-left: 1em;
}
#basket a{color:#F0E1E1;
width: 100%}

.active{
    background-color: #8114DF;
}


main{
    padding: 0rem 3rem 0rem 3rem;
    min-width: calc(100% - 6rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu_item{
    background: #F0E1E1;
    margin: 1.7rem;
    height: 600px;
    width: 420px;
}

.inner_menu_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    height: calc(100% - 2rem);
    font-family: "Yanone Kaffeesatz", "Lobster";
}

.img_description{
    display: flex;
    flex-direction: column;
    align-items: inherit;
}
.img_description h2{
    font-size: 1.8rem;
}
.img_description p{
    margin: 0 2rem 0 2rem;
    font-size: 1.3rem;
}

.mass_price{
    margin: 1rem 2rem 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.mass_price p{
    font-size: 1.8rem;
}

.mass_price p.price{
    color: #8114DF;
}

a.add_item_btn{
    color: #F0E1E1;
    background: #8114DF;
    padding: 2% 4%;
    font-size: 1.8rem;
    border-radius: 25px;
}


/* The admin pannel styles */
.center_vertical{
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.center_vertical form{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    min-width: 20vw;
    justify-content: space-between;
}
.center_vertical form input{
    width: 100%;
    font-size: 1rem;
    height: 10%;
    border: 2px solid #8114DF;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 125px 0px rgba(129,20,223,1);
    -moz-box-shadow: 10px 10px 125px 0px rgba(129,20,223,1);
    box-shadow: 10px 10px 125px 0px rgba(129,20,223,1);
}
.log_in_btn{
    max-width: 50%;
    background: #0A0A09;
    color: #F0E1E1;
    font-size: 1rem;
    align-content: center;
}

.admin_main{
    border-bottom: 2px solid #8114DF;
    align-items: end;
}
.nav_item.admin_nav.active{
    background: #0A0A09;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top: 2px solid #8114DF;
    border-right: 2px solid #8114DF;
    border-bottom: 2px solid #0A0A09;
    border-left: 2px solid #0A0A09;
}
.nav_item.admin_nav:hover{
    background: #0A0A09;
    border-top: 2px solid #8114DF;
    border-right: 2px solid #8114DF;
}
.nav_item.admin_nav{
    margin-bottom: 0px;
    padding-bottom: 0px;
    min-width: 10%;
    border-top-left-radius: 20px;
    border-top: 2px solid #0A0A09;
    border-right: 2px solid #0A0A09;
}
.form_short_field{
    display: flex;
    width: 100%;
}
.form_short_field > input{
    height: 10vh;
}
.edit-form{
    min-height: 50vh;
}
a.scroll_top{
    position: fixed;
    font-size: 3rem;
    border-radius: 50%;
    right: 3%;
    bottom: 3%;
    width: 3rem;
    height: 3rem;
    background-color: rgba(224, 220, 220, 0.6);
    padding: 0px;
    text-align: center;
}

/* table styles */
.table {
    table-layout: fixed;
    font-size: 22px;
    width: 100%;
}

table{ font-style: normal; }
.column-id { width: 3%; }
.column-f-name { width: 13%; }
.column-good-description { width: 20%; }
.column-email { width: 7%; }
.column-phone { width: 10%; }
.column-registration { width: 15%; }
.column-client-id{ width:5%; }
.column-date{ width: 11%; }
.column-cost{ width: 5%; }
.column-name{ width: 25%; }
.column-price{ width: 10%; }
.column-category{ width: 10%; }
.column-year{ width: 10%; }
.column-amount{ width: 7%; }
.column-edit { width: 7%; }
.column-number{width: 5%}
.column-orders{width: 22%}
.table td {
    border-bottom: #3D3E3E;
}
.table th {
    background: white;
    color: black;
}
.table td,
.table th {
    border-collapse: collapse;
    text-align: left;
    padding: 5px 10px;
    word-break: break-all;
}

.table tr:nth-child(even) {
  background: white;
}
.table tr:nth-child(odd) {
  background: white;
}



td img{
    max-height: 300px;
}

.dropbtn {
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
    font-size: 1.5rem;
  background-color: #0A0A09;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  left: 10px;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
    border-radius: 50px;
    border: 1px solid #8114DF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    transition: 1s ease-in;
}

.dropdown-content a:hover {
    background-color: #bdbaba;
    border-radius: 5px;
    border: 1px solid #8114DF;
    color: #8114DF;!important;
}

.dropdown:hover .dropdown-content {display: block;}

.message{
    padding: 2% 4% 2% 4%;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    color: #8114DF;

}
.message a{
    padding: 4%;
    font-size: 1.8rem;
    border-radius: 20px;
    border: 1px solid #8114DF;
}