<!DOCTYPE html>
<html lang="en">
<head>
<head>
     <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Равлик Суші</title>
    <link type= "text/css" href= "../static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>
<body>
<div class="center_vertical">
     <form class="edit-form" name="Create client" method="post" novalidate>
                    {{ form.hidden_tag() }}
         {{form.email}}
         {% for error in form.email.errors %}
            <span class="error-message">{{ error }}</span>
         {% endfor %}
         {{form.password}}
         {% for error in form.password.errors %}
            <span class="error-message">{{ error }}</span>
         {% endfor %}
         {{form.submit(class_="log_in_btn")}}
     </form>
</div>
</body>
</html>