<!DOCTYPE html>
<html lang="en">
<head>
<head>
     <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Равлик Суші</title>
    <link type= "text/css" href= "../static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>
<body>

<div class="center_vertical">
     <div class="edit-form message">
        <h2> Sorry, you do not have access to this page</h2>
       <a href="{{url_for('bp.dragons')}}" class="log_in_btn">Return to home page</a>
     </div>
</div>
</body>
</html>