<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Равлик Суші</title>
    <link type= "text/css" href= "../static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <nav class="admin_main"><div id="main_menu" >
        <div class="nav_item active admin_nav">
            <a href="{{url_for('log_check')}}">
                Items list
            </a>
        </div>
        <div class="nav_item admin_nav">
            <a href="{{url_for('bp.add_item')}}">
                Add item
            </a>
        </div>
        <div class="nav_item admin_nav">
            <a href="{{url_for('bp.dragons')}}">
                Stats
            </a>
        </div>
        <div class="nav_item admin_nav">
            <a href="{{url_for('bp.dragons')}}">
                Напої
            </a>
        </div>
        </div>
        <div id="bascket" class="nav_item admin_nav"><a href="#"> Log out<i class="fa-light fa-basket-shopping"></i></a></div>
    </nav>
</header>
<main>

{% block content %}

{% endblock %}

</main>
</body>
</html>