<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Равлик Суші</title>
    <link type= "text/css" href= "../static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header>
    <img src="../static/back_top_smaller.png" class="top_image">
    <div id="contacts">
        <a href="#">
        <div class="contact">
            <img src="../static/instagram_logo_no_background.png"> &nbsp;&nbsp;&nbsp;@ravlyk_sushi
        </div>
        </a>
        <a href="#">
        <div class="contact">
            <img src="../static/lifecell_logo_no_background.png"> &nbsp;&nbsp;&nbsp;0638988989
        </div>
        </a>
        <div class="contact"></div>
    </div>
    <nav><div id="main_menu" >
        <div class="nav_item {% if page == "dragons" %} active {%endif%}" id="scroll_to">
            <a href="{{url_for('bp.dragons')}}">
                Дракони
            </a>
        </div>
        <div class="nav_item {% if page == "california" %} active {%endif%}">
            <a href="{{url_for('bp.california')}}">
                Каліфорнія
            </a>
        </div>
        <div class="nav_item {% if page == "maki" %} active {%endif%}">
            <a href="{{url_for('bp.maki')}}">
                Макі
            </a>
        </div>
        <div class="nav_item {% if page == "drinks" %} active {%endif%}">
            <a href="{{url_for('bp.drinks')}}">
                Напої
            </a>
        </div>
        </div>
        <div id="basket" class="nav_item"><a href="#"> <span>Кошик</span><i class='bx bx-cart' ></i></a></div>
    </nav>
</header>
<main>

{% block content %}

{% endblock %}
</main>

</body>
<script>
    function scroll(){
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#scroll_to").offset().top
    }, 2000);
  }
  window.onload = scroll;
  document.getElementById("scroll_top_btn").addEventListener("click", scroll);
</script>
<a class="scroll_top" href="#scroll_to" > <i class='bx bx-chevrons-up'></i></a>
</html>